# Web Framework and Utilities
streamlit
streamlit-cookies-manager
pandas

# Database
sqlalchemy
PyMySQL
cryptography
mysql-connector-python

# Authentication and Security
streamlit-oauth

# Tests dependencies
pytest
pytest-mock
flake8
black
isort